<h1>Works claves</h1>
<p> el titulo es </p>
<h1>
  {{title}}
</h1>
<h1> Eventos</h1>
<button (click) = "toggleButton()">Toggle</button>
<button (click) = "toggleButtonActivar()">
  toggleButtonActivar</button>

<input type="text" name="" id="" (keyup)="tiping($event)">

<input type="text"  [(ngModel)]="person.name" >
  <p>Edad : {{person.age}}</p>
  <button (click) = "ageInc()">
    age ++</button>

    <div class="box" (scroll) = "onScroll($event)" >

    </div>

<h1>Propiedades </h1>
<button [disabled] = "btnDisabled">Enviar</button>
<input type="text" [value] = "person.name">
<progress max ="100" [value] = "person.age"></progress>
<hr>
<p>
  {{3+3}}
  {{'holamundo'.repeat(5)}}
</p>
<h3>Hola soy {{person.name}} y tengo {{person.age}}</h3>
<img src="{{imag}}" alt="dbz" width="200px" height="200px">
<img src="{{imag2}}" alt="dbz" width="200px" height="200px">
<img src="{{imag3}}" alt="dbz" width="200px" height="200px">
<img src="{{imag4}}" alt="dbz" width="200px" height="200px">

<p>telefono : {{telefono}}</p>

<h3>hola soy {{person2.name}} y tengo {{person2.age}}</h3>
<img src="{{imag3}}" alt="dbz" width="200px" height="200px">
